{
  "extends": ["airbnb-typescript", "next", "next/core-web-vitals"],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "react/jsx-props-no-spreading": 0,
    "max-len": [2, 120, 2, {
      "ignoreUrls": true,
      "ignoreStrings": true
      }
    ],
    "no-case-declarations": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/anchor-is-valid": 0
    
  }
}
